@inject CartService cartService
@implements IDisposable
@rendermode InteractiveServer

<button class="btn btn-link position-relative oi oi-cart text-decoration-none py-2 me-2 mb-1" 
                @onclick="NavigateToCart">
    @if (itemQuantity > 0)
    {
        <span class="badge bg-warning rounded-100 text-white position-absolute">@itemQuantity</span>
    }
</button>


@code {

    public int itemQuantity = 0;

    protected override void OnInitialized()
    {
        cartService.OnCartChanged += CartChanged;
    }

    protected void CartChanged(int itemQty)
    {
        itemQuantity = itemQty;
        StateHasChanged();
    }
    void IDisposable.Dispose()
    {
        cartService.OnCartChanged -= CartChanged;
    }

    void NavigateToCart()
    {
        NavigationManager.NavigateTo($"/shoppingCart/");
    }
}