@page "/"
@rendermode InteractiveServer

<PageTitle>Home</PageTitle>

<div class="position-relative m-0 p-0">
    <img class="img-fluid" src="../Pictures/Home/HomeBackground.jpg" alt="Snapshot of a decorated section in a child's room." />

    <div class="position-absolute top-50 start-50 translate-middle text-center">
        <h1 class="my-5 text-shadow">Welcome to Dreamy Diapers!</h1>
    </div>
</div>

@code
{
    //cart
}